.story-section{
    padding: 5rem ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.story-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reastaurant-name{
    font-size: 3rem;
}
.story-content p{
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
}
.margin{
    margin-top: 2rem;
}
.img{
    width:100%;
    margin: 2rem auto;
    align-items: center;
}

@media(max-width:40em){
    .story-section{
        grid-template-columns: 1fr;
    }
}
